/logs/
/resource/predictedPrices.txt
/resource/solution.txt
/out/routes/*
!/out/routes/README.txt
/out/pricePrediction/*
!/out/pricePrediction/README.txt
.settings
.classpath
bin/
dependency-reduced-pom.xml

/target/*

!/target/carefuel_basic.jar
/target/
