<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="info">
	<Appenders>
		<Console name="ConsoleStdOut" target="SYSTEM_OUT">
			<ThresholdFilter level="error" onMatch="DENY"
				onMismatch="ACCEPT" />
			<PatternLayout pattern="%d{HH:mm:ss} %level %logger{36} - %msg%n" />
		</Console>
		<Console name="ConsoleStdErr" target="SYSTEM_ERR">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="%d{HH:mm:ss} %level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/carefuel_basic.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{dd.MM.yyyy HH:mm:ss} %level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<!-- <OnStartupTriggeringPolicy /> -->
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>

		<!-- Root Logger -->
		<Root level="info">
			<AppenderRef ref="ConsoleStdOut" />
			<AppenderRef ref="ConsoleStdErr" />
			<AppenderRef ref="RollingFile" />
		</Root>

		<!-- Application Loggers -->

		<!-- This enables debug log for carefuel packages, all other default to 
			the Root logger level above -->
		<logger name="carefuel" level="debug" additivity="false">
			<AppenderRef ref="ConsoleStdOut" />
			<AppenderRef ref="ConsoleStdErr" />
		</logger>
		
	</Loggers>
</Configuration>