/***********/
/* General */
/***********/
*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

.column {
	float: left;
	height: 100vh !important;
	background: #fdfdfd;
}

#row {
	margin: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.section {
	width: 100%;
	padding: 10px 2.5%;
	border-width: 1px;
	border-color: #d5d5d5;
	border-top-style: solid;
}

.image {
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 200px;
	max-height: 100%;
}

.footer {
	position: fixed;
	z-index: 40;
	bottom: 0px;
	right: 0px;
	min-width: 200px;
	width: 25%;
	text-align: right;
	background: aliceblue; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(90deg, rgba(240, 248, 255, 0.3),
		aliceblue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(90deg, rgba(240, 248, 255, 0.3),
		aliceblue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(90deg, rgba(240, 248, 255, 0.3),
		aliceblue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(90deg, rgba(240, 248, 255, 0.3), aliceblue);
	text-align: right; /* Standard syntax (must be last) */
}

::-webkit-scrollbar {
	display: none;
	width: 0px;
} /* this targets the default scrollbar (compulsory) */

/********/
/* Left */
/********/
.control-container {
	z-index: 30;
	width: 25%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000000;
	overflow: auto;
	/* overflow-x: hidden; */
}

.errorous {
	background-color: lightcoral;
}

input[type="radio"] {
	margin-top: -1px;
	margin-right: 5px;
	vertical-align: middle;
}

.form-block {
	width: 90%;
	margin: auto;
}

.form {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.form.label {
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #000000;
}

.form.input {
	width: 100%;
	height: 38px;
	margin-bottom: 10px;
	padding-left: 5px;
}

.form.submit-button {
	width: 30%;
	height: 30px;
	background: #659fff;
	margin-top: 15px;
	margin-left: 70%;
}

.hide-search-button {
	display: none;
    z-index: 31;
    top: 5px;
    left: 5px;
    background: #fafafa;
    cursor: pointer;
    border-width: 4px;
    font-size: 40px;
    width: 65px;
    text-align: center;
    height: fit-content;
    border-color: #6e6e6e;
    border-style: solid;
    border-radius: 10px;
}

.hide-search-button:hover {
	background: #eeeeee;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.hide-route-button {
	display: none;
    border-radius: 10px;
    z-index: 29;
    top: 5px;
    border-width: 4px;
    font-size: 40px;
    right: 5px;
    border-color: #6e6e6e;
    border-style: solid;
    background: #fafafa;
    cursor: pointer;
    width: 65px;
    text-align: center;
    height: fit-content;
}

.hide-route-button:hover {
	background: #eeeeee;
}

.bar4, .bar5 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.bar4 {
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

.bar5 {
	transform: rotate(45deg) translate(-8px, -8px) ;
}

/**********/
/* Center */
/**********/
.map-container {
	z-index: 10;
	width: 50%;
	height: 100vh;
}

.google-map {
	height: 100%;
	width: auto;
}

/*********/
/* Right */
/*********/
.route-container {
	z-index: 20;
	width: 25%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #000000;
	overflow-y: auto;
}

.route {
	width: 60px;
	border-radius: 30px;
}

.address {
	width: 100%;
	height: fit-content;
	display: flex;
	margin: 10px;
	margin-right: 0px;
	padding: 10px;

	background: #eeeefe;
}

.address:hover {
	background: #cfcfef;
}

.route-container h4 {
	align-items: center;
	justify-content: center;
	display: flex;
	height: auto;
	padding: 10px;
	
	
	/*color: green;*/
	font-size: 18px;
	font-weight: bold;
	background: #e2e2fa;
}

.route-container h5 {
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 10px;
	white-space: nowrap;
	
	font-size: 16px;
	/*color: darkgreen;*/
	background: #e2e2fa;
}

.rtable {
	display: table;
	width: 100%;
	height: 50px;
}

.rrow {
	display: table-row;
	width: 100%;
}

.arrow {
	display: table-cell;
	width: 36%;
	font-size-adjust: 2;
	color: #99BEFF;
	vertical-align: middle;
}

.distance {
	display: table-cell;
	width: 32%;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.tank {
	display: table-cell;
	width: 32%;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

#routeContainerHeader {
	font-size: x-large;
    display: block;
    text-align: center;
}

/***************/
/*    Slider   */
/***************/
.slider {
	width: 100%;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}


/***************/
/*loading screen*/
/***************/
#loadingScreen{
	display: none;
	position: fixed;
	background: rgba(180, 180, 180, 0.5);
	width:100%;
	height:100%;
	z-index:60;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #9fd0ff; /* Blue */
    border-radius: 50%;
    position: fixed;
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/***************/
/* Mobile View */
/***************/
@media ( max-width : 800px) {
	/********/
	/* Left */
	/********/
	.column {
		width: 100%;
		position: fixed;
	}
	
	.hide-search-button {
		display: block;
		position: fixed;
	}
	
	.hide-route-button {
		display: block;
		position: fixed;
	}
	
	.route-container {
		display: none;
	}
}

/* Just in case, somebody has a really low height display */
@media ( max-height : 450px) {
	.form.label {
		display: inline-block;
		width: 45%;
		margin-top: 2px;
		margin-bottom: 2px;
		font-size: 12px;
		font-weight: normal;
	}
	.form.input {
		display: inline-block;
		width: 45%;
		height: 20px;
		margin-bottom: 0px;
	}
}