<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>      
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">org.postgresql.Driver</property>
	<property name="connection.url">jdbc:postgresql://127.0.0.1:5432/carefuel</property>
	<property name="connection.username">postgres</property>
    <property name="hibernate.connection.password">NJuJh1A!Wln..</property>
    <property name="hibernate.show_sql">false</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="current_session_context_class">thread</property> 
    
    <mapping class="carefuel.model.GasStation" />
    <mapping class="carefuel.model.GasStationPrice" />
    <mapping class="carefuel.model.GasStationPricePrediction" />
    <mapping class="carefuel.model.Distance" />
     
  </session-factory>
</hibernate-configuration>